<% title "#{ locale_method(@debate.name, @debate.name_cy) } – #{@debate.log_date} | Your Senedd" %>

<article id="debate">
  <%= render_component 'debate_header', DebateHeaderPresenter.new(@debate).properties %>

  <div id="video-widget">
  </div>

  <section id="speeches">
    <% @debate.speeches.each do |speech| %>
      <%= render_component('speech', SpeechPresenter.new(speech).properties) %>
    <% end %>
  </section>
</article>
