// Place all the styles related to the bookstore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookstore {
  background: #FFF;

  .container {
    clear: both;
    height: 300px;
  }

  .book {
    float: left;
    margin: 20px;
  }
}

