#debates {
	background: #FFF;
	box-shadow: 0 0 3px #ddd;
	padding: 1em;

	h1 {
		font-weight: bold;
	}

	.debate {
		font-size: 14px;
		padding: 1em 0;

		ul {
			li {
				margin-bottom: 4px;

				a:active,
				a:hover,
				a:focus {
					background: #eee;
				}
			}
		}
	}
}

.debate {
  h2 {
		border-bottom: 1px solid #ccc;
		color: #444;
		font-size: 0.85em;
		margin: 0 0 0.8em 0;
		text-transform: uppercase;
	}

	ul {
    list-style: none;
    li {
			margin: 0 0 0.8em 0;
		}
  }
}

#debate {
	background: #fff;
	box-shadow: 0 0 3px #ddd;
	padding: 1em;

	header {
		margin-bottom: 1em;

		h1 {
			font-weight: bold;
		}

		.date {
			border-bottom: 1px solid #ccc;
			color: #444;
			font-size: 0.85em;
			text-transform: uppercase;
		}
	}

	#video-widget {
		position: fixed;
		text-align: right;
		top: 0;

		#video-container {
			background: #b7005d;

			a {
				color: #FFF;
				padding: 5px;
			}
		}

		iframe {
			width: 100%;
			height: 100%;
			resize: both;
			overflow: auto;
		}
	}

	#debate-info {
		border-bottom: 1px solid #bbb;
		margin-bottom: 1em;

		#speakers {

			padding-bottom: 0.25em;

			.number-of-speeches {
				font-size: 0.8em;
				margin: 10px 0;
			}

			ul {
				list-style: none;
				li {
					float: left;
					margin: 2px;
					a {
						display: block;

						img.speaker {
							width: 50px;
						}
					}
				}
			}

			#show-speakers {
				font-size: 0.8em;
				margin: 10px 0;
			}
		}
	}

}
