#strip {
  background: image-url('senedd-panoramic.jpg') left center repeat-x;
  background-size: cover;
  background-position: 60% 6%;
	border-bottom: 1px solid #999;
  color: #FFF;
  font-size: 1.8em;
	height: 280px;
	margin-bottom: 0.8em;
	position: relative;

	#search {
	  margin: 0 auto;
	  width: 1006px;

	  h1 {
      color: #FFF;
  	  font-weight: bold;
  	  padding-top: 20px;
  	  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  	}

	  input[type=text] {
	    background-image: none;
	    color: #777;
			display: block;
			margin-bottom: 0.25em;
	    padding: 12px;
	    width: 80%;
  	}

		.tip {
			background: #FFF3EF;
			background: rgba(255, 255, 255, 0.75);
			color: #555;
			display: inline-block;
			font-size: 0.5em;
			letter-spacing: 0;
			padding: 0.1em 0.2em;
		}
	}

	.image-attribution {
		bottom: 0;
		display: inline-block;
		font-size: 0.4em;
		position: absolute;
		right: 0;

		a {
			background: rgba(255, 255, 255, 0.25);
			color: #fff !important;
		}
	}
}

#recent-debates {
  background: #FFF;
	box-shadow: 0 0 3px #ddd;
  float: left;
	margin-right: 0.5em;
  padding: 1em;
  width: 620px;

	h1 {
		font-weight: bold;
		letter-spacing: -1px;
	}

  .day {
    margin: 20px 0;

		h2 {
			border-bottom: 1px solid #ccc;
			color: #444;
			font-size: 0.85em;
			margin: 0 0 0.8em 0;
			text-transform: uppercase;
		}

    ul {
      list-style: none;

      li {
        margin: 0 0 0.8em 0;
      }
    }
		.more {
			background: #eee;
			font-size: 0.75em;
		}
  }
}

#feature {
  background: #FFF;
	box-shadow: 0 0 3px #ddd;
  float: left;
	margin-left: 0.5em;
  padding: 1em;
  width: 300px;

	h1 {
		font-weight: bold;
		letter-spacing: -1px;
	}

  ul {
    list-style:none;
    margin:20px 0;

    li {
      margin:10px 0;

			.constituency {
				color: #777;
				display: block;
				font-size: 0.75em;
				padding: 0;
			}
    }
  }
	.more {
		background: #eee;
//		font-size: 0.75em;
	}
}
