<div class='tagline'>
	<h2>Bring the Assembly to your inbox.</h2>
	<h2>With the latest news, debates, votes and opinions delivered every Monday morning.</h2>
</div>

<!-- Begin MailChimp Signup Form -->
<div style='text-align:center;margin: 0 auto;'>
	<form action="http://samknight.us2.list-manage.com/subscribe/post?u=134eaee5b77c5a00cb5cfbd37&amp;id=d42dfb0f9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="you@domain.com" required>
		<input type="submit" value="Subscribe" name="subscribe" class="button">
	</form>
</div>
<!--End mc_embed_signup-->
