<% title "#{ t('.current_ams') } | #{ t('your_senedd') }" %>

<section id="debates">
  <h1><%= t('.current_ams') %></h1>
  <table>
    <% @members.each do |member| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><b><%= locale_method(member.constituency.name, member.constituency.name_cy) %></b></td>
        <td><%= link_to member.name, member_path(member.to_param) %></td>
      </tr>
    <% end %>
  </table>
</section>
