<% title "#{ @member.name }, #{ @member.constituency.name } | Your Senedd" %>

<article id="member" class="clearfix">
  <aside id="member-profile" class="clearfix">
    <h1><%= @member.name %></h1>
    <%= image_tag attachment_url(@member, :photo, :fill, 150, 150, format: "jpg") || 'silhouette.jpg' %>
  	<p class="party"><%= @member.party.name if @member.party %></p>
  	<p class="party"><%= @member.constituency.name if @member.constituency && @member.current? %></p>
  </aside>
</article>
